<form [formGroup]="profileForm" (change)="printFormData($event)" (submit)="createCustomer()">
    <label for="first-name">Title: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="last-name">Email: </label>
    <input id="last-name" type="email" formControlName="emailid">

    <label for="last-name">Region: </label>
    <ngx-select [items]="regionsAvailable" formControlName="region" ></ngx-select>

    <label for="last-name">Country: </label>
    <ngx-select [items]="countriesAvailable" formControlName="country"></ngx-select>

    <button type="submit">Create Customer</button>
</form>